$r: 7px;
//$startColor: #f00;
input, button, textarea, select[size] {
  border: $borderWidth#{px} $borderStyle lighten($borderColor, 50%);
  background: lighten($bgColor, 100%);
  padding: 5px;
  margin: 2px 0;
}

select {
  margin: 5px;
}

input {
  &[type=date],&[type=time],&[type=color], &[type=datetime] {
//    padding: 0;
    background: #fff;
    //border:inherit;
 
  }
  &[type=range] {
    background: none;
    border: none;
    box-shadow: none;
  }
//&[type=submit], &[type=button] {
//    @include border-radius($r);
//    @include simpleGradient($startColor, $endColor);
//    box-shadow: none;
//  }
}

textarea {
  width: 90%;
  height: 15em;
}

input:focus, textarea:focus {
  background-color: #fff;
  background-image: none;
  outline: none;
  box-shadow: none;
}
